*{
    background-color: rgb(223, 222, 221);
}

.cart{
    border: 0.5px solid black;
    width: 350px;
    border-radius: 10px;

}

.btn button{
    background-color: rgb(149, 151, 151);
    border-radius: 5px;
    margin: 2px;
}

.img,.text{
    margin: 2px;
}
.svg{
    position: absolute;
    right: 60%;
    top: 0;
    padding-top: 25px;
    padding-right: 25px;
   
}
.num{
    position: absolute;
    top: 30%;
    right: 50%;
}
